<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8" />
        <meta name = "viewport" content = "width=device-width, initial-scale=1, user-scalable=1" />
        <!-- <meta http-equiv = "content-security-policy" content = "default-src https:" /> --> <!-- Remove this once there is an SSL certificate. -->
        <meta name = "description" content = "Test Django blog" />
        <meta name = "author" content = "Tracy Hockenhull" />
        <meta name = "theme-color" content = "#192c95" />

        <!-- FAVICON -->

        <!-- <link rel = "icon" href = "/img/pexels-anni-roenkae-5278835 small square.jpg" /> -->

        <!-- END FAVICON -->

        <title>Test Django blog</title>

    </head>

    <body>

        <header>

			<!-- <img class = "logo" src = "img/pexels-anni-roenkae-5278835 small square.jpg" alt = "Profile photo" /> -->

			<!-- <label for = 'toggleMenu'>
				<img src = 'img/pexels-anni-roenkae-5278835 small square.jpg' style = "width:40px; height:40px" alt = 'Navigation menu' />
			</label>

			<input id = 'toggleMenu' type = 'checkbox' /> -->

			<nav>

				 <!-- <a class = "navbar-brand" href = "index.html"><img src = "img/pexels-anni-roenkae-5278835 small square.jpg" style = "width:40px; height:40px" /></a>  -->

                 <h1><a href="/">Test Django Blog</a></h1>

				 <!-- Add # in front of link definitions for same-page nav links. -->
				<ul>
					<li><a href = "index.html">Home</a></li>
					<li><a href = "#about">About</a></li>
					<li><a href = "#services">Services</a></li>
					<li><a href = "#news">News</a></li>
					<li><a href = "#contact">Contact</a></li>
				</ul>

                {% for post in posts %}
                    <article>
                        <time>published: {{ post.published_date }}</time>
                        <h2><a href = "">{{ post.title }}</a></h2>
                        <p>{{ post.text|linebreaksbr }}</p>
                    </article>
                    {{ post }}
                {% endfor %}

			</nav>

		</header>

		<main>

			
		</main>

		<footer>
			<p>&copy;2024 Tracy Hockenhull, All rights reserved.</p>
		</footer>

    </body>
</html>

<head>
    